* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000;
    color: rgb(211, 205, 205);
    
    }
#view {
    width: 316px;
    margin: auto;
    font-size: 20px;
    font: Arial;
    text-align: center;
}
.main {
    width: 316px;
    height: 616px;
    margin: 20px auto 0;
    border: 8px solid white;
    font-size: 0;
    }
.cell {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.216);
    display: inline-block;
    }
.movingCell {
    background-color: darkgray;
    }
.fixedCell {
    background-color: goldenrod;
}
#game-over{
 background: #000;   
 font-size: 50px;
 color: white;
 text-align: center;
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%,-50%);
 display: none; 
}

#current-score{
    background: #000;   
    font-size: 25px;
    color: white;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 120%;
    transform: translate(-50%,-50%);
    display: none; 
   }   
#your-score{
    background: #000;   
    font-size: 25px;
    color: white;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 49%;
    transform: translate(-50%,-50%);  
    display: none; 
}
#start {
    background: #000;   
    font-size: 50px;
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#start-again{
    background: #000;   
    font-size: 25px;
    color: white;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);  
    display: none;  
}
#space {
    background: #000;   
    font-size: 25px;
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);  
    display: none;     
}
#next-piece {
    position: absolute;
    top: 130px;
    left: 300px;
    font-size: 0;
}